@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Mochiy+Pop+P+One&family=Montserrat:wght@700&family=Roboto+Slab:wght@300;700&family=Roboto:wght@300&display=swap');

/* RESET */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Varibles */

:root {
  --blue-color: #17a2b8;
  --white-color: #fff;
  --gray-color: #f5f5f5;
  --black-color1: #222;
  --black-color2: #999;
  --red-color: #f00;
  --toggle-bg-color: #ccc;
}

body {
  min-height: 100vh;
  overflow-y: hidden;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  position: relative;
  width: 100%;
}

.logo {
  width: 100px;
  height: 60px;
  align-items: center;
  margin: 30px 80px;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: var(--blue-color);
  border-left: 10px solid #073d3d;
  transition: 0.5s;
  overflow: hidden;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  position: relative;
  width: 200%;
  list-style: none;
  cursor: pointer;
}

.navigation ul li:hover {
  background-color: var(--white-color);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  width: 100%;
  display: flex;
  color: var(--white-color);
  text-decoration: none;
}

.navigation ul li a:hover {
  color: var(--blue-color);
}

.navigation ul li:hover a::before {
  content: "";
  position: absolute;
  top: -50px;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10 var(--white-color);
  pointer-events: none;
}

.navigation ul li:hover a::after {
  content: "";
  position: absolute;
  top: -50px;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10 var(--white-color);
  pointer-events: none;
}

.navigation.active {
  width: 80px;
}

.icon {
  display: block;
  position: relative;
  text-align: center;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
}

.ion-icon {
  font-size: 1.8em;
}

.title {
  padding: 0 10px;
  text-align: start;
  white-space: nowrap;
  display: block;
  position: relative;
  height: 60px;
  line-height: 60px;
}

.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background-color: var(--white-color);
  transition: 0.5s;
  margin-top: 40px;
  font-family: "Roboto Slab", serif;
  font-weight: 700;
}

.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  position: relative;
  width: 60%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  top: 0;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
}

.search {
  position: relative;
  left: 400px;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  outline: none;
  border: 1px solid var(--black-color2);
}

.search-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2em;
}

.user-container {
  position: relative;
  left: 650px;
}

.user {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 50px;
  padding-right: 40px;
}

.user .badge-1,
.badge-2 {
  position: relative;
  left: -20px;
  top: 15px;
  padding: 5px 10px;
  border-radius: 50%;
  color: var(--white-color);
  background-color: var(--blue-color);
  vertical-align: top;
}

.badge-2 {
  background-color: #1c7c1c;
}

.ion-icon-n,
.ion-icon-c {
  font-size: 2.2em;
  margin-top: 20px;
}

.user p {
  font-size: 1.3em;
  margin-top: 30px;
  font-weight: 300;
}

.user-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 10px;
}

.card-box {
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  left: 300px;
  top: 80px;
  gap: 10px;
}

.card-box .card {
  position: relative;
  background-color: var(--white-color);
  padding: 30px;
  box-shadow: 0 7px 25px 0 rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.card-box .card .numbers {
  position: relative;
  color: var(--blue-color);
  font-weight: 500;
  font-size: 2.5em;
}

.card-box .card .card-name {
  color: var(--black-color2);
  font-size: 1.1em;
  margin-top: 5px;
}

.card-box .card .icon-box {
  font-size: 3.5em;
  color: var(--black-color2);
  margin-left: 30px;
}

.card-box .card:hover {
  background-color: var(--blue-color);
}

.card-box .card:hover .numbers,
.card-box .card:hover .card-name,
.card-box .card:hover .icon-box {
  color: var(--white-color);
}

.details {
  width: 99%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  left: 300px;
  top: 80px;
}

.details .new-programs {
  display: grid;
  min-height: 400px;
  background-color: var(--white-color);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-header h2 {
  font-weight: 600;
  color: var(--blue-color);
}

.btn {
  position: relative;
  padding: 5px 10px;
  background-color: var(--blue-color);
  text-decoration: none;
  color: var(--white-color);
  border-radius: 6px;
}

.details .instructors table {
  width: 100%;
  border-collapse: collapse;
}

.details table thead td {
  font-weight: 600;
}

tbody tr:nth-child(odd) {
  background: #eef0f1;
}

.instructors table tr:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.header-r span {
  margin-top: 7px;
}

.instructors table tr h4 span {
  position: relative;
  font-size: 14px;
  color: var(--black-color2);
  font-family: "Roboto Slab", serif;
  font-weight: 300;
}

.instructors table tr:hover td h4 span {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.details .new-programs table tr {
  color: var(--black-color1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .new-programs table tr:last-child {
  border-bottom: none;
}

.details .new-programs table tr:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.instructors table tr td {
  padding: 12px 10px;
}

.instructors table tr h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
}

.details .new-programs table tr td {
  padding: 0;
}

.details .new-programs table tr td:last-child {
  text-align: end;
}

.details .new-programs table tr td:nth-child(2) {
  text-align: center;
}

.details .new-programs table tr td:nth-child(3) {
  text-align: center;
}

.jan {
  padding: 2px 4px;
  background-color: var(--red-color);
  color: var(--white-color);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.aug {
  padding: 2px 4px;
  background-color: black;
  color: var(--white-color);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.sept {
  padding: 2px 4px;
  background-color: blue;
  color: var(--white-color);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.july {
  padding: 2px 4px;
  background-color: green;
  color: var(--white-color);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.instructors {
  /* position: relative; */
  display: grid;
  /* min-height: 500px; */
  padding: 20px;
  margin-left: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  background-color: var(--white-color);
}

.instructors .img-box {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.instructors .img-box img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recent-activities {
  width: 100%;
  margin-left: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.8);
  padding: 20px;
  border-radius: 20px;
  height: 100%;
}

.header-r {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.header-r h3 {
  color: var(--blue-color);
  font-size: 1.8em;
}

.header-r p {
  color: var(--black-color2);
  font-size: 1.2em;
  margin-top: 7px;
  font-weight: 300;
}

.activity-list {
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.list-1 {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.list-1 p:first-child {
  color: var(--black-color2);
}

.shape-1 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin: auto;
}

/* Responsiveness */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }

  .navigation.active {
    left: 0;
    width: 300px;
  }

  .main {
    width: 100%;
    left: 0;
  }

  .main.active {
    left: 300px;
  }

  .card-box {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: repeat(1, 1fr);
  }

  .new-programs {
    overflow-x: auto;
  }

  .status.pending {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .card-box {
    grid-template-columns: repeat(1, 1fr);
  }

  .card-header h2 {
    font-size: 20px;
  }

  .user {
    min-width: 40px;
  }

  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }

  .navigation.active {
    width: 100%;
    left: 0;
  }

  .toggle {
    z-index: 1001;
  }

  .main.active .toggle {
    color: var(--white-color);
    position: fixed;
    left: initial;
    right: 0;
  }
}
