/* RESET */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Varibles */

:root {
  --blueColor: #17a2b8;
  --whiteColor: #fff;
  --grayColor: #f5f5f5;
  --blackColor1: #222;
  --blackColor2: #999;
  --redColor: #f00;
  --toggleBgColor: #ccc;
}

body {
  min-height: 100vh;
  overflow-y: hidden;
}

.container {
  position: relative;
  width: 100%;
}

.logo {
  width: 100px;
  height: 60px;
  align-items: center;
  margin: 30px 80px;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: var(--blueColor);
  border-left: 10px solid #073d3d;
  transition: 0.5s;
  overflow: hidden;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  position: relative;
  width: 200%;
  list-style: none;
  cursor: pointer;
}

.navigation ul li:hover {
  background-color: var(--whiteColor);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  width: 100%;
  display: flex;
  color: var(--whiteColor);
  text-decoration: none;
}

.navigation ul li a:hover {
  color: var(--blueColor);
}

.navigation ul li:hover a::before {
  content: '';
  position: absolute;
  top: -50px;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10 var(--whiteColor);
  pointer-events: none;
}

.navigation ul li:hover a::after {
  content: '';
  position: absolute;
  top: -50px;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10 var(--whiteColor);
  pointer-events: none;
}

.navigation.active {
  width: 60px;
}

.icon {
  display: block;
  position: relative;
  text-align: center;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
}

.ion-icon {
  font-size: 1.8em;
}

.title {
  padding: 0 10px;
  text-align: start;
  white-space: nowrap;
  display: block;
  position: relative;
  height: 60px;
  line-height: 60px;
}

.main {
  position: absolute;
  width: calc(100% - 300px);
  left: 300px;
  min-height: 100vh;
  background-color: var(--whiteColor);
  transition: 0.5s;
}

.main.active {
  width: calc(100% - 80px);
  left: 80px;
}

.topbar {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;
}

.toggle {
  position: relative;
  top: 0;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5em;
}

.search {
  position: relative;
  width: 400px;
  margin: 0 10px;
}

.search label {
  position: relative;
  width: 100%;
}

.search label input[type=text] {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  padding: 5px 20px;
  padding-left: 35px;
  outline: none;
  border: 1px solid var(--blackColor2);
}

.search-icon {
  position: absolute;
  top: 0;
  left: 10px;
  font-size: 1.2em;
}

.user {
  position: relative;
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.user-img {
  position: absolute;
  width: 40px;
  height: 40px;
  top: 0;
  left: 0;
}

.cardBox {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  left: 300px;
  top: 80px;
  gap: 10px;
}

.cardBox .card {
  position: relative;
  background-color: var(--whiteColor);
  padding: 30px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.cardBox .card .numbers {
  position: relative;
  color: var(--blueColor);
  font-weight: 500;
  font-size: 2.5em;
}

.cardBox .card .cardName {
  color: var(--blackColor2);
  font-size: 1.1em;
  margin-top: 5px;
}

.cardBox .card .iconBox {
  font-size: 3.5em;
  color: var(--blackColor2);
  margin-left: 30px;
}

.cardBox .card:hover {
  background-color: var(--blueColor);
}

.cardBox .card:hover .numbers,
.cardBox .card:hover .cardName,
.cardBox .card:hover .iconBox {
  color: var(--whiteColor);
}

.details {
  position: relative;
  width: 100%;
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  left: 300px;
  top: 80px;
}

.details .newPrograms {
  position: relative;
  display: grid;
  min-height: 500px;
  background-color: var(--whiteColor);
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
}

.cardHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardHeader h2 {
  font-weight: 600;
  color: var(--blueColor);
}

.btn {
  position: relative;
  padding: 5px 10px;
  background-color: var(--blueColor);
  text-decoration: none;
  color: var(--whiteColor);
  border-radius: 6px;
}

.details table {
  width: 100%;
  border-collapse: collapse;
}

.details table thead td {
  font-weight: 600;
}

tbody tr:nth-child(odd) {
  background: #eef0f1;
}

.instructors table tr:hover {
  background-color: var(--blueColor);
  color: var(--whiteColor);
}

.instructors table tr h4 span {
  font-size: 14px;
  color: var(--blackColor2);
}

.instructors table tr:hover td h4 span {
  background-color: var(--blueColor);
  color: var(--whiteColor);
}

.details .newPrograms table tr {
  color: var(--blackColor1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.details .newPrograms table tr:last-child {
  border-bottom: none;
}

.details .newPrograms table tr:hover {
  background-color: var(--blueColor);
  color: var(--whiteColor);
}

.instructors table tr td {
  padding: 12px 10px;
}

.instructors table tr h4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.2em;
}

.details .newPrograms table tr td {
  padding: 0;
}

.details .newPrograms table tr td:last-child {
  text-align: end;
}

.details .newPrograms table tr td:nth-child(2) {
  text-align: center;
}

.details .newPrograms table tr td:nth-child(3) {
  text-align: center;
}

.jan {
  padding: 2px 4px;
  background-color: var(--redColor);
  color: var(--whiteColor);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.aug {
  padding: 2px 4px;
  background-color: black;
  color: var(--whiteColor);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.sept {
  padding: 2px 4px;
  background-color: blue;
  color: var(--whiteColor);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.july {
  padding: 2px 4px;
  background-color: green;
  color: var(--whiteColor);
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
}

.instructors {
  position: relative;
  display: grid;
  min-height: 500px;
  padding: 20px;
  box-shadow: 0 7px 25px rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  background-color: var(--whiteColor);
}

.instructors .imgBox {
  position: relative;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
}

.instructors .imgBox img {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Responsiveness */
@media (max-width: 991px) {
  .navigation {
    left: -300px;
  }

  .navigation.active {
    left: 0;
    width: 300px;
  }

  .main {
    width: 100%;
    left: 0;
  }

  .main.active {
    left: 300px;
  }

  .cardBox {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .details {
    grid-template-columns: repeat(1, 1fr);
  }

  .newPrograms {
    overflow-x: auto;
  }

  .status.pending {
    white-space: nowrap;
  }
}

@media (max-width: 480px) {
  .cardBox {
    grid-template-columns: repeat(1, 1fr);
  }

  .cardHeader h2 {
    font-size: 20px;
  }

  .user {
    min-width: 40px;
  }

  .navigation {
    width: 100%;
    left: -100%;
    z-index: 1000;
  }

  .navigation.active {
    width: 100%;
    left: 0;
  }

  .toggle {
    z-index: 1001;
  }

  .main.active .toggle {
    color: var(--whiteColor);
    position: fixed;
    left: initial;
    right: 0;
  }
}
