/* RESET */

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Varibles */

:root {
  --blueColor: #287bff;
  --whiteColor: #fff;
  --grayColor: #f5f5f5;
  --blackColor1: #222;
  --blackColor2: #999;
  --redColor: #f00;
}

body {
  min-height: 100vh;
  overflow-y: hidden;
}

.container {
  position: relative;
  width: 100%;
}

.navigation {
  position: fixed;
  width: 300px;
  height: 100%;
  background-color: var(--blueColor);
  border-left: 10px solid var(--redColor);
  transition: 0.5s;
  overflow: hidden;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  position: relative;
  width: 200%;
  list-style: none;
}

.navigation ul li:hover {
  background-color: var(--whiteColor);
}

.navigation ul li:nth-child(1) {
  margin-bottom: 40px;
  pointer-events: none;
}

.navigation ul li a {
  position: relative;
  width: 100%;
  display: flex;
  color: var(--whiteColor);
  text-decoration: none;
}

.navigation ul li a:hover {
  color: var(--blueColor);
}

.navigation ul li:hover a::before {
  content: '';
  position: absolute;
  top: -50px;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10 var(--whiteColor);
  pointer-events: none;
}

.navigation ul li:hover a::after {
  content: '';
  position: absolute;
  top: -50px;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 35px 35px 0 10 var(--whiteColor);
  pointer-events: none;
}

.icon {
  display: block;
  position: relative;
  text-align: center;
  min-width: 60px;
  height: 60px;
  line-height: 70px;
}

.ion-icon {
  font-size: 1.8em;
}

.title {
  padding: 0 10px;
  text-align: start;
  white-space: nowrap;
  display: block;
  position: relative;
  height: 60px;
  line-height: 60px;
}
